In [1]:
from typing import NamedTuple

In [2]:
class AddressDTO(NamedTuple):
    country: str
    street: str


class ContactDTO(NamedTuple):
    contact_type: str
    email: str


class Person(NamedTuple):
    first_name: str
    age: int
    address: AddressDTO
    contact: ContactDTO
    # AddressDTO: NamedTuple
    # ContactDTO: NamedTuple

In [3]:
seth = Person(
    'Seth',
    130,
    AddressDTO(
        'USA',
        'Alabama, 101'
    ),
    ContactDTO(
        'actual',
        'usa@mail.uk'
    )
    
)

In [4]:
seth_fields = []
for field in seth:
    seth_fields.append(field)

seth_fields

['Seth',
 130,
 AddressDTO(country='USA', street='Alabama, 101'),
 ContactDTO(contact_type='actual', email='usa@mail.uk')]

In [5]:
seth

Person(first_name='Seth', age=130, address=AddressDTO(country='USA', street='Alabama, 101'), contact=ContactDTO(contact_type='actual', email='usa@mail.uk'))

In [6]:
seth.age

130

In [7]:
seth.address.country

'USA'

In [8]:
seth.contact.contact_type

'actual'

In [9]:
from pydantic import BaseModel

In [10]:
class UserDTO(BaseModel):
    name: str
    login_name: str
    password: str

In [11]:
noob = UserDTO(
    name="Anton",
    login_name="noob",
    password="noob"
).model_dump()

In [12]:
noob

{'name': 'Anton', 'login_name': 'noob', 'password': 'noob'}

In [14]:
noob['name']

'Anton'

In [33]:
# dataclasses.dataclass

from dataclasses import dataclass


@dataclass(frozen=True)
class PassportDTO:
    series: str
    number: str
    given_date: str


@dataclass(frozen=True)
class PersonDTO:
    name: str
    age: int
    passport: PassportDTO

In [35]:
seth = PersonDTO(
    "Seth",
    130,
    PassportDTO(
        '123',
        '456',
        '10.10.2000'
    )
)

In [27]:
seth.__dict__

{'name': 'Seth',
 'age': 130,
 'passport': PassportDTO(series='123', number='456', given_date='10.10.2000')}

In [38]:
seth.__dataclass_fields__

{'name': Field(name='name',type=<class 'str'>,default=<dataclasses._MISSING_TYPE object at 0x000001EA64AC46D0>,default_factory=<dataclasses._MISSING_TYPE object at 0x000001EA64AC46D0>,init=True,repr=True,hash=None,compare=True,metadata=mappingproxy({}),kw_only=False,_field_type=_FIELD),
 'age': Field(name='age',type=<class 'int'>,default=<dataclasses._MISSING_TYPE object at 0x000001EA64AC46D0>,default_factory=<dataclasses._MISSING_TYPE object at 0x000001EA64AC46D0>,init=True,repr=True,hash=None,compare=True,metadata=mappingproxy({}),kw_only=False,_field_type=_FIELD),
 'passport': Field(name='passport',type=<class '__main__.PassportDTO'>,default=<dataclasses._MISSING_TYPE object at 0x000001EA64AC46D0>,default_factory=<dataclasses._MISSING_TYPE object at 0x000001EA64AC46D0>,init=True,repr=True,hash=None,compare=True,metadata=mappingproxy({}),kw_only=False,_field_type=_FIELD)}

In [4]:
seth.age, seth.passport.given_date

(130, '10.10.2000')

In [36]:
seth_fields = []
try:
    for field in seth:
        seth_fields.append(field)
except: print("object is not iterable")
seth_fields

object is not iterable

[]

In [1]:
# typing.TypedDict
from typing import TypedDict

In [6]:
class RegistrationDTO(TypedDict):
    series: str
    number: int


class DocumentDTO(TypedDict):
    name: str
    registration: RegistrationDTO
    desc: str

In [9]:
contract = DocumentDTO(
    name="buy_car",
    registration=RegistrationDTO(
        series='123',
        number=508
    ),
    desc='New document'
)

In [10]:
contract

{'name': 'buy_car',
 'registration': {'series': '123', 'number': 508},
 'desc': 'New document'}

In [12]:
contract['name']

'buy_car'